fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
pydantic
email-validator

langchain-core
langgraph
langgraph-checkpoint-postgres

sentence-transformers
ollama

langchain-community
langchain-huggingface
langchain-experimental
pymupdf

passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
google-auth